    <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    
                     <div class="clearfix"></div>
                    <li class="active"><a href="#"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a></li>

                    {% if app.session.get('perfil') == perfilDoc or app.session.get('perfil') == perfilEstDoc or app.session.get('perfil') == perfilDocAdm %}
                    <li class=""><a href="{{path('SisAcademico_Docentes_home')}}"><i class="fa fa-users">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Docentes</span></a>
                       
                    </li>

                    {% endif %}
                    {% if app.session.get('perfil') == perfilEst or app.session.get('perfil') == perfilEstDoc or app.session.get('perfil') == perfilEstAdm %}
                    <li class=""><a href="{{path('estudiantes_notas_actuales')}}"><i class="fa fa-graduation-cap">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Estudiantes</span></a>
                       
                    </li>

                    {% endif %}
                    
                </ul>
            </div>
        </nav>