	<div id="panelInfoAdicional" class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <!-- Primary Panel-->
            </div>
            <div class="panel-body">
                <!-- aqui va todo -->
                <div class="col-lg-12 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h3>Matriculación</h3></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('estudiantes_matriculacion')}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ir a Matriculación</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h3>Deudas</h3></div>
                                </div>
                            </div>
                        </div>
                        <a  href="{{path('estudiantes_deudas')}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Deudas</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- aqui termina todo -->

                <div class="col-lg-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-table fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h3>Consulta de Notas</h3></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('estudiantes_notas_actuales')}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ir a Consulta de Notas</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
            <div class="panel-footer">
                <!--Panel Footer-->
            </div>
        </div>
    </div>